
:root {
    --base-colour: #7F7CAF;
    --text-colour: #1e1438;
    --primary-colour: #462749;
    --secondary-colour: #A04668;
    --tertiary-colour: #EEEEFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-colour);
    scroll-behavior: smooth;
}

body {
    padding: 1em;
    background-color: var(--base-colour);
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Georgia, Arial;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-colour);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--tertiary-colour);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 { 
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-colour);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-colour);
}

section#my-projects {
    background-color: var(--tertiary-colour);
}

.grid-container {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "img-1 img-2"
        "img-3 img-4";
}
.grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container img:hover{
    scale: 1.05;
}

.back-to-top {
    display: block;
    width: fit-content;
    margin: 2rem auto 0;
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: bold;
    transition: transform 0.2s ease;
}

.back-to-top:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}

.carousel {
    margin: 100px auto;
    width: 100%;
    display: flex;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 8em;
    height: 5em;
    padding: 1em;
    background: #EEEEFF;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}